.board {
    display: flex;
    flex-direction: column;
}
.field {
    width: 480px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.cell {
    box-sizing: border-box;
    flex: 0 0 12.5%;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 30px;
    color: white;
    background: black;
    text-align: center;
    line-height: 50px;
}

.revealed {
    -webkit-box-shadow: 0 0 10px #ff0000;
    box-shadow: 0 0 10px #ff0000;
    background: transparent;
}

.icon {
    width: 50px;
    height: auto;
}

.Header {
    display: flex;
    flex-direction: row;
}
.Header h2 {
    margin: 20px;
}
.control {
    display: flex;
    flex-direction: row;
}
.control div {
    margin: 20px 55px;
    padding: 10px;
}
.reset {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: calc(10px + 2vmin);
}